body {
     background-color: rgb(177, 187, 197);
     margin-left: 15px;
}

.mycontainer {
     /* border: 1px solid green;
     margin-left: 10px; */
}

.mynav {
     background-color: rgb(124, 142, 160);
}

.myrow {
     border: 1px dotted red;
}

.mycol {
     border: 3px solid blue;
}